p {
  color: red;
  position: absolute;
}
.t1 {
width: 847px;
height: 177px;
left: 202px;
top: 457px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 135.884px;
}
.t2{
width: 349px;
height: 85px;
left: 807px;
top: 1765px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 65.0028px;
}
.t3 {
  width: 106px;
  height: 69px;
  left: 28px;
  top: 2001px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 65.0028px;
}
.t4 {
width: 228px;
height: 85px;
left: 28px;
top: 2065px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 65.0028px;
}
.t5 {
width: 788px;
height: 490px;
left: 126px;
top: 2480px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 300;
font-size: 37.4714px;
}
.t6 {
width: 985px;
height: 104px;
left: 30px;
top: 3906px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 300;
font-size: 80px;
}
.t7 {
width: 315px;
height: 66px;
left: 800px;
top: 4440px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 50.4899px;
}
.t8 {
width: 292.79px;
height: 226.52px;
left: 8.86px;
top: 4450px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 78.3211px;
}
.t9 {
width: 106px;
height: 78px;
left: 1060px;
top: 4862px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 30.2072px;
}
.t10 {
width: 106px;
height: 78px;
left: 820px;
top: 4862px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 30.2072px;
}
.t11 {
width: 106px;
height: 78px;
left: 1060px;
top: 5000px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 30.2072px;
}
.t12 {
width: 106px;
height: 78px;
left: 1060px;
top: 4715px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 30.2072px;
}
.t13 {
width: 106px;
height: 78px;
left: 820px;
top: 5000px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 30.2072px;
}
.t14 {
width: 1073px;
height: 208px;
left: 40px;
top: 5000px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 300;
font-size: 80px;
}
.t15 {
width: 344px;
height: 171px;
left: 610px;
top: 5850px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 500;
font-size: 43.8684px;
}
.t16 {

width: 243.67px;
height: 86px;
left: 610px;
top: 5700px;
font-family: 'HK Grotesk';
font-style: normal;
font-weight: 500;
font-size: 73.7143px;
}
.t20 {
  width: 516px;
  height: 168px;
  left: 642px;
  top: 10475px;
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 64.1033px;
}
